@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Colors */
  /* primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-cyan: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(277, 10%, 46%);
  /* neutral */
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
  /* Typography */
  --typography: "Kumbh Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
picture,
img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-cyan);
  font-family: var(--typography);
  line-height: 0.8;
  hyphens: none;
  background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
  font-size: 18px;
}
.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0px 10px 25px 10px hsla(185, 75%, 21%, 0.207);
}
.main__pic {
  width: 7rem;
  transform: translate(0, -3.4rem);
}
.main__pic img {
  border: 0.35rem solid white;
  border-radius: 50%;
}
.main h1 {
  font-size: 1.125rem;
  margin-top: -2.25rem;
  font-weight: 700;
  white-space: nowrap;
  color: var(--very-dark-cyan);
}
.main h1 span {
  margin-left: 0.6rem;
  color: var(--dark-grayish-blue);
}
.main__p {
  font-size: 0.75rem;
  margin: 1rem 0 1.75rem 0;
  color: var(--dark-grayish-blue);
}
.main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  border-top: 1px solid hsl(0, 1%, 85%);
}
.main ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  margin: 1.75rem 0;
}
.main__ul-p {
  font-weight: 700;
  font-size: 1.121rem;
  color: var(--very-dark-cyan);
}
.main__ul-p span {
  font-weight: 700;
  font-size: 1.121rem;
  text-transform: uppercase;
}
.main__ul-p2 {
  font-size: 0.55rem;
  text-align: center;
  letter-spacing: 0.15rem;
  margin-top: 0.74rem;
  color: var(--dark-grayish-blue);
}
