@import "variables";
/************/
/***HEADER***/
/************/

.header {
  position: relative;
  display: grid;
  margin-bottom: 6.4rem;
  .header__top-section {
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 1.5rem;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/bg-tablet-pattern.svg);
      background-size: 480px 400px;
      width: 480px;
      height: 400px;
      top: -50px;
      right: -150px;
      z-index: -1;
    }
    .logo {
      .logo__image {
        width: 75%;
      }
    }
    #hamburger {
      position: initial;
      z-index: 3;
      top: 2.55rem;
      right: 1.5rem;
    }
    .primary-nav {
      position: fixed;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      .primary-nav__list {
        display: grid;
        gap: 1.7rem;
        text-align: center;
        font-weight: 700;
        color: $dark-blue;
        background: white;
        border-radius: 0.4rem;
        margin: 6.2rem 1.6rem 0;
        padding: 2.8rem;
      }
    }
    .button {
      display: none;
    }
  }
  .header__bottom-section {
    display: grid;
    gap: 0.3rem;
    place-items: center;
    text-align: center;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../images/bg-tablet-pattern.svg);
      background-size: 330px 330px;
      height: 330px;
      width: 330px;
      top: 380px;
      right: -200px;
      z-index: -1;
    }
    .bottom-section__image {
      padding-inline: 1rem;
    }
    .bottom-section__content {
      display: grid;
      place-items: center;
      .bottom-section__title {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.4;
        color: $dark-blue;
      }
      .bottom-section__paragraph {
        color: $dark-grayish-blue;
        font-size: 1rem;
        padding-inline: 1.5rem;
        line-height: 1.8;
        margin-bottom: 1.4rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    max-width: calc(1110px + 2rem);
    padding-inline: 1rem;
    margin: 0 auto;
    gap: 3rem;
    .header__top-section {
      padding: 4rem 0;
      align-items: center;
      justify-content: start;
      &::after {
        background-size: 800px 800px;
        width: 800px;
        height: 800px;
        top: -150px;
        right: -300px;
      }
      .logo {
        .logo__image {
          width: 150px;
        }
      }
      #hamburger {
        display: none;
      }
      .primary-nav {
        position: initial;
        background: none;
        height: initial;
        width: initial;
        top: initial;
        left: initial;
        display: block;
        font-size: 0.8rem;
        margin: 0 auto;
        .primary-nav__list {
          display: flex;
          gap: 2rem;
          background: transparent;
          border-radius: 0rem;
          margin: 0;
          padding: 0rem;
          .primary-nav__item {
            a {
              font-weight: 400;
              &:hover,
              &:focus {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .button {
        display: block;
      }
    }
    .header__bottom-section {
      text-align: left;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      grid-template-areas: "a b";
      margin-bottom: 7.5rem;
      &::after {
        display: none;
      }
      .bottom-section__image {
        padding: 0;
        grid-area: b;
      }
      .bottom-section__content {
        grid-area: a;
        place-items: start;
        gap: 1.5rem;
        .bottom-section__title {
          font-size: 3.2rem;
          line-height: 1.3;
        }
        .bottom-section__paragraph {
          padding: 0;
          line-height: 1.6;
          max-width: 32ch;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
